.frontendedit-content-navigation {
  position: relative;
  display: flex;
  background: $color_lighter_dark;
  @include fontFamily;

  .frontendedit-content-navigation-items {
    list-style: none;
    margin: 0;
    padding: 0.25rem 0;

    > li {
      cursor: pointer;

      &:hover {
        i {
          color: $color_light_grey;
        }
      }

      &.active {
        i {
          color: $color_white;
        }
      }

      i {
        display: block;
        color: $color_lighter;
        font-size: 1.5rem;
        padding: 0.25rem 0.5rem;
      }

      strong {
        display: none;
      }
    }
  }

  .frontendedit-content-navigation-content {

    .frontendedit-content-navigation-item-content {
      position: relative;
      height: calc(100% - 2rem);
      z-index: 10;
      background: $color_dark;
      padding: 0 0.5rem;
      color: $color_lighter;
      min-width: 20rem;
      @include activable;
      display: none;
      &.active {
        display: block;
      }

      h1 {
        margin-top: 0;
        font-size: 1.1rem;
      }

      iframe {
        height: 100%;
        width: 100%;
        min-width: 40rem;
      }

      &.elements {
        padding: 1rem;
        overflow-y: scroll;
        .content {
          ul {
            list-style: none;
            margin: 0;
            padding: 0;
            li {
              > span {
                cursor: pointer;
              }
              &.active {
                > span {
                  font-weight: bold;
                }
              }
              ul {
                padding-left: 1rem;
              }

              &:before {
                @include icon($fa-var-paragraph);
                margin-right: 0.5rem;
                font-size: 0.8rem;
              }

              &.mod_article:before {
                  @include icon($fa-var-edit);
              }
              &.ce_headline:before {
                @include icon($fa-var-bookmark);
              }
              &.ce_button:before {
                @include icon($fa-var-link);
              }
              &.ce_youtube:before,
              &.ce_vimeo:before {
                @include icon($fa-var-film);
              }

              &.ce_important_text:before:before {
                @include icon($fa-var-quote-right);
              }
              &.ce_text_with_text:before {
                @include icon($fa-var-th-large);
              }
              &.ce_picture:before,
              &.ce_image_with_text:before {
                @include icon($fa-var-image);
              }
              &.ce_picture_gallery:before,
              &.ce_gallery_with_text:before {
                @include icon($fa-var-images);
              }
              &.ce_column_start:before,
              &.ce_column_list_start:before,
              &.ce_tabs_container_start:before,
              &.ce_tabs_inner_start:before,
              &.ce_accordion_start:before {
                @include icon($fa-var-columns);
              }
            }
          }
        }
      }
    }

  }
}
