body.frontendedit-edit-mode {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  font-family: Arial, sans-serif;

  > .frontendedit-settings {
    @include fontFamily;
    background: $color_dark;
    color: $color_white;
    height: $settings_bar_height;
    display: flex;
    z-index: 1;
    user-select: none;

    > * {
      padding: 1rem;
    }

    .toggle-edit-mode {
      cursor: pointer;

      .view {
        display: none;
      }

      .edit {
        display: block;
      }

      &.frontendedit-active {
        .view {
          display: block;
        }

        .edit {
          display: none;
        }
      }
    }

    .save,
    .cancel {
      cursor: pointer;

      &:not(.frontendedit-active) {
        display: none;
      }
    }

    .reload-iframe {
      cursor: pointer;
      &.loading {
        span {
          @include rotateAnimation;
        }
      }
      small {}
    }

    .page-settings {
      cursor: pointer;
    }

    .page-iframe {
      display: flex;

      .page-iframe-resize {}
      .page-iframe-hide-scrollbar,
      .page-iframe-hide-symfony-debug-toolbar {
        margin-left: 1rem;
        display: flex;
        align-items: center;
      }

      select, input, label {
        background: transparent;
        color: $color_lighter;
        font-size: 0.8rem;
        outline: none;
        cursor: pointer;
      }
      select, input {
        border: 1px solid $color_lighter_dark;
      }
      input[type="number"] {
        width: 3rem;
      }

      option {
        color: $color_dark;
      }

      span {
        color: $color_lighter_dark;
        font-weight: normal;
      }

    }

    .user-settings {
      cursor: pointer;
      margin-left: auto;
    }
  }

  > .frontendedit-content-edition {
    height: calc(100vh - #{$settings_bar_height});
    display: flex;

    &.resizing {
      .frontendedit-page-iframe-container,
      .frontendedit-page-iframe,
      .frontendedit-content-pane {
        user-select: none;
        pointer-events: none !important;
      }
    }
    .frontendedit-content {
      display: flex;
      //width: 100%;
      height: 100%;
      flex: 1 0 auto;
    }
    .frontendedit-page-iframe-container {
      display: flex;
      width: 100%;
      height: 100%;
      align-items: center;
      justify-content: center;
      background: $color_dark;

      .frontendedit-page-iframe {
        position: absolute;
        width: 100%;
        height: 100%;
        pointer-events: none;
        opacity: 0.5;
        background: white;
        box-shadow: 0 1rem 3rem rgb(0 0 0 / 20%);

        &.frontendedit-active {
          opacity: 1;
          pointer-events: all;
        }
      }
    }

    .frontendedit-col-resize {
      position: relative;
      height: 100%;
      z-index: 10;

      > span {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: $col_resize_width;
        border: none;
        margin: 0;
        background: $color_lighter_dark;
        cursor: col-resize;

        display: flex;
        align-items: center;

        justify-content: center;
        &:before {
          content: "⡇";
          transform: translate(1px, 0);
          font-size: 0.8rem;
          color: lighten($color_lighter_dark, 20%);
        }
      }
    }

    .frontendedit-content-pane {
      background: $color_dark;
      position: relative;
      z-index: 1;

      &.resized {
        > .settings-pane, iframe {
            width: 100%;
        }
      }
      > .settings-pane {
        display: flex;
        flex-direction: column;
        > .settings-pane-actions {
          padding-left: $col_resize_width;
          display: flex;
          > * {
            @include button;
          }
          > .close {
            margin-left: auto;
          }
        }
      }
      > .empty-pane {
        display: flex;
        justify-content: center;
        align-items: center;
        color: $color_lighter_dark;
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        z-index: -1;
        overflow: hidden;
      }

      > * {
        height: 100%;
        width: 30vw;
      }

      > .settings-pane > iframe {
        border: none;
        height: 100%;
      }
    }
  }
}
