body.frontendedit-view-mode {
  [class*="frontendedit"] {
    display: none !important;
    pointer-events: none !important;
  }
}

body.frontendedit {
  .editable {
    outline: $outline_width dotted rgba($color_white, 0.2);
    cursor: pointer;

    > .editable {
      padding: 1rem;
    }
  }

  .editable {
    &:empty {
      padding: 1rem;
    }

    &.hover, &.active {
      outline: $outline_width solid rgba($color_white, 1);
    }

    &.active {
      outline-width: #{2*$outline_width};
    }

    &.unsaved {
      outline-color: $color_blue;
    }

    &.unsaved.new {
      outline-color: $color_green;
    }

    a {
      cursor: no-drop;
    }

    &.active {
      .frontendedit-article-settings {
        transform: translate(0, -2px);
        .frontendedit-article-settings-button {
          color: $color_dark;
        }
      }
    }

    .frontendedit-article-settings {
      display: flex;
      .frontendedit-article-settings-button {
        @include tinyButton;
        z-index: $z_index;
      }
    }
  }


  .editable {
    &:not(.new).active {
      .frontendedit-insert-element-button {
        display: inline-block;
      }
    }

    .frontendedit-insert-element-button {
      @include tinyButton;
      z-index: $z_index;
      display: none;
    }
  }

  .floating-settings {
    position: fixed;
    opacity: 0;
    pointer-events: none;
    z-index: $z_index;
    display: flex;
    flex-direction: column;
    transform: translate(-#{2*$outline_width}, -#{2*$outline_width});
    //box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);

    &.active {
      opacity: 1;
      pointer-events: all;
    }

    > * {
      @include tinyButton;
      box-shadow: none;
    }
  }
}
