$color_blue: #2B89A0;
$color_light_blue: #9bbbdc;
$color_red: #BA2626;
$color_green: #92CC71;
$color_black: #000;
$color_dark: #272727;
$color_lighter_dark: #474747;
$color_lighter_dark_2: #666;
$color_lighter: #ccc;
$color_light_grey: #eee;
$color_white: #fff;
$settings_bar_height: 3.2rem;

$outline_width: 1px;

$z_index: 10;

$col_resize_width: 6px;
